.user-routine-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    background-color: rgb(65, 64, 64);
    min-height: 100vh;
}

.user-routine-table{
    border-collapse: collapse;
    width: 99%;
    margin: 20px;
}

.user-routine-table th td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-routine-table td{
    padding: 20px 10px;
    border: 1px solid black;
}

.user-routine-table th{
    background-color: #5c7899;
    color: white;
}

.user-routine-table tr:nth-child(even){
    background-color: white;
} 

.user-routine-table tr:nth-child(odd){
    background-color: white;
} 

.user-class-box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 234, 234);
    width: 100%;
    margin-bottom: 10px;
}

.user-class-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin: 10px 0px;
    color: black;
}