.profile-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.profile-information{
    display: flex;
    flex-direction: column;
    padding: 150px;
    background: rgb(221, 219, 219);
}

.profile-update{
    display: flex;
    flex-direction: column;
    padding: 150px;
    background: rgb(221, 219, 219);
}

.update-information{
    display: flex;
    flex-direction: column;
}

.profile-information-header{
    margin-bottom: 15px;
}

.profile-update-header{
    margin-bottom: 15px;
}

.profile-update-save{
    margin-top: 30px;
}